.wtSwiper {
    .swiper-button-next, .swiper-button-prev {
        color: var(--chakra-colors-yellow-400);
    }
    .swiper-pagination-bullet {
        background: var(--chakra-colors-gray-500);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: var(--chakra-colors-yellow-400);
    }
}